---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Servicios">
    <section class="h-screen w-screen text-center relative overflow-hidden z-36  text-white"></section>
</Layout>